<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비동기 통신</title>
<style>
    body{
        margin : 0;
        background : #ddd;
        font-size: 20px
    }
    section{
        width: 300px;
        height: 100px;
        margin:0 auto;
        text-align: center;
        margin-top: 200px;
      
    }
</style>
</head>
<body> 
    <section> 
    <form action ="/test" id="test-form">
    <p>테스트 상자</p>
    <button type="button" onclick="testSend1()" class="btn btn-primary">간단한 전송 버튼</button>
    <button type="button" class="btn btn-warning" id="test-btn">전송버튼</button> 
    </form>
    </section>
    <script>

    
    
    const testSend ={
        option : {
            method : "POST", 
            url : "http://localhost:5000/",
            data : {name : "Ywoosang"}
        },
        create(pram){
            return new Promise((resolve,reject) =>{
                const xhr = new XMLHttpRequest(); // 인스턴스 생성
                xhr.onload = function(){ 
                    console.log(this)
                    this.status == 200 ? resolve(JSON.parse(this.response)) : reject(this);
                }
               
                xhr.option = this.option; // Promise 환경에서 this 는 main 객체를 참조한다 
                xhr.option.sendData = JSON.stringify(xhr.option.data); 
               
                xhr.open(xhr.option.method,xhr.option.url); 
                xhr.send(xhr.option.sendData);
            });
        },
        async getName(){
            try{ 
                const res = await this.create(this.option); //resolve this.response 가 담김 
                this.showData(res); 
            }catch(error){
                this.serverError(error) 
            };
        },
        showData(res){ 
            console.log(res) 
        },
        serverError(error){
            console.log(error) 
        }
    }
    const testButton = document.getElementById('test-btn');
    testButton.addEventListener('click',sendRequest);
    function sendRequest(){
        testSend.getName();
    }
     

    </script>
</body>
</html>